.update-pro-btn {
    border-radius: 5px !important;
    color: white !important;
    background-color: #FB2E86 !important;
    padding: 7px !important;
    border: 0px !important;
}

.delete-btn {
    background-color: #627264;
}

.view-pro-btn {
    background-color: #c9d1fb !important;
    color: black;
    border: 1px solid #dadbf1;
}
.pagination {
    justify-content: end;
}